html {
  font-size: calc(0.875em + 0.25 * (100vw - 80em) / 40);
  font-size: -webkit-calc(87.5% + 0.25 * (100vw - 8000%) / 40);
}

body{
  width:100%;
  background-color: white;

}

h1 {
    font-size: 2.5rem;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

h3 {
    font-size:1.875rem;
    color: black;
    font-family:'Work Sans', sans-serif;
}

h2 {
    font-family:'Open Sans', sans-serif;
}

.banner img {
    opacity: 50% ;
}

.text1 {
  font-family: 'Open Sans', sans-serif;
}

.button1 {
display: block;
background-color:white;
 outline: black;
 outline: .5em;
 margin: auto;
 text-align: center;
 width: 8cm;
 height: 1.5cm;
}

.button1 {
    font-size: 1.25rem;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.faqs {
    font-size: 2.5rem;
    font-family: "Times","Times New Roman",serif;
    font-weight:bold;
    text-align: center;
}

.faqs-container{
  display: flex;
  flex-flow: wrap-reverse;
}

.qa {
  flex: 1 1 250px;
  margin: 10px;
}

.faqsq1 {
    font-size: 2rem;
    font-family: "Times","Times New Roman",serif;
    font-weight: bold;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;
}

.faqsa1 {
    font-size: 1.5rem;
    font-family: "Times","Times New Roman",serif;
    text-align: center;
    margin-left: 1cm;
    margin-right: 1cm;
}
